body {
  background-image: repeating-radial-gradient(circle, #190033, #330066 10%, #190033 20%);
  height:100vh;
  color: #ffffff
}
.normal {
  color: #ffff00
}
.highlights {
  color: #00ffff;
}
.updated {
  color: #00ff00;
}
.prototype {
  color: #ff0000;
}
